.markdown-editor-selector {

  display: flex;
  flex-direction: row;

  .markdown-editor-selector-entry {

    display: inline-flex;
    border: 1px solid lightgray;
    border-bottom: 0px;
    border-radius: 0.25rem;

    input[type="radio"] + label {
      padding: 0.2rem 0.5rem;
    }

    input[type="radio"]:checked + label {
      background-color: white;
      font-weight: bold;
    }

		input[type=radio] {
			display: none;
		}

  }

}

.tinymde div:has(.TMCommandBar) {
  position: sticky;
  top:0px;
}


.TMCommandBar {
  overflow: visible;
}

.TMCommandButton:has(.menu-hover) {
  width: auto;
  font-size: 1em;
}

.menu-hover {
  position: relative;

}

.menu-hover .menu-contents {
  display: none;
}

.menu-hover:hover .menu-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 0.2em;
  padding-right: 2em;
}

.menu-hover .menu-contents div {
  width: 100%; 
  white-space: nowrap;
  font-size: 0.9em;
}

.menu-hover .menu-contents div:hover {
  background-color: white;
}